[2020-05-12 19:06] mtojek opened #14 "Docker image: push failed 403"
Docker image failed with the following error:

[code]

(https://beats-ci.elastic.co/blue/organizations/jenkins/Beats%2Fpackage-storage/detail/master/5/pipeline)

[2020-05-13 09:06] #14 closed

[2020-05-25 11:47] ruflin opened #24 "[Discuss] Introduce different package distributions"
Currently packages are never removed from the package-storage and new packages are only added. At some stage, old packages should archived.

An example here is when a package goes GA and the older versions should not be installed anymore. Then the older packages should be archived (not removed). This could for example be a different directory in the package-storage. These packages would not be ser

[2020-06-03 11:07] ruflin opened #40 "Validate package by installing into Kibana"
Currently when a package is added to the package-storage it is validated by the package-registry to make sure all assets are valid. But there are quite a few validation mechanisms that cannot be executed by the registry itself and are only found when installing the package into Kibana.

It would be nice if on each PR the following could happen only for the packages that were changed:

* Start up R

[2020-06-04 21:04] ruflin commented on #40
I started a PR related to this: https://github.com/elastic/package-storage/pull/54

[2020-06-16 13:06] jonathan-buttner opened #76 "Package validation and external repos"
This issue is to discuss how to make package registry improvements while keeping the packages in `package-storage` `integrations` and any external package repos in sync.

As we iterate and make improvements to the package registry the valid format of a package changes.

When package validation changes many packages need to be updated to comply with the new format.

The current approach of updating

[2020-06-16 14:01] nnamdifrankie commented on #76
I do not think that registry or its packages should be mutable once released.

[2020-06-16 14:01] ruflin commented on #76
My preference here is definitively on Option 1. We are at the moment doing all these changes to the registry and the package format so hopefully we have to do much fewer in the future. Especially I think breaking changes will not be acceptable anymore for quite some time.

Even though we modify packages in the storage at the moment, I think in the future we should NEVER do this (I'm sure we find a

[2020-06-16 14:07] jonathan-buttner commented on #76
Sounds good. Maybe as a stop gap if the endpoint package gets changed in `package-storage` let's ping Franklin and I so we can make the appropriate changes in the endpoint package repo.

[2020-06-16 14:13] ruflin commented on #76
@jonathan-buttner Yes, we should really ping the team on such things. I foresee one more case where it might change. Will ping both of you.

[2020-06-16 14:20] jonathan-buttner commented on #76
Thanks @ruflin we appreciate it!

[2020-06-16 14:20] #76 closed

[2020-06-17 06:17] mtojek commented on #40
@ruflin can this issue be resolved?

[2020-06-17 06:27] ruflin commented on #40
Yes, closing as https://github.com/elastic/package-storage/pull/54 was merged.

[2020-06-17 06:27] #40 closed

[2020-06-22 11:47] ruflin opened #86 "Proposal: Package release process"
This proposal on how the deployment of the package registry and package storage should change.

# Problem

With the current way the package-storage is deployed, there is no easy way to have different environments for production, QA or snapshots. If someone builds a package and wants to share it for testing with others, the tester is required to setup the testing environment local and run it with a

[2020-06-22 11:50] ruflin commented on #86
* @kuisathaverat Would be great to get your feedback on the above from a "deployment" perspective
* @mtojek @jonathan-buttner Need your perspective on the above from the "building package" perspective but of course also in general.
* @EricDavisX Will the above help with testing?
* @jen-huang Can we know somehow in Kibana if a build is SNAPSHOT or not?
* @kaiyan-sheng @fearful-symmetry @jsoriano As

[2020-06-23 10:57] kuisathaverat commented on #86
for development, we can use the dev-next environment, there we can configure a package-registry inside the cluster.

[2020-06-23 11:06] kuisathaverat commented on #86
for snapshot and staging the deploy process is clear, every good merge in the branch publishes the images and kick the rollout in the service to grab the new images. In the snapshot environment, we can make a simple update of the pods, for staging I guess it is valid too, the downtime should be short.
For the production environment, I have a few doubts, When we trigger the release process? Would w

[2020-06-23 11:13] ruflin commented on #86
* For the development we also have all the tooling in the "integrations" repo. What I was getting at with the above comment is that only things should be pushed to snapshot that are already "tested", meaning went through a PR review / CI in an other repo. dev-next will be great for having it point to `snapshot` registry
* staging / snapshot environment: Why is there a downtime? Isn't this the same

[2020-06-23 14:02] kuisathaverat commented on #86
the downtime is because it has to start the new pods, stop the old pods, and change the service to point to the new pods, it really short seconds, but there is an outage.

on the merge, we would run all the test again, if we use blue-green deployment, we can deploy without disturbing the current green deploy, meanwhile, we can run additional tests over the blue deployment before changing it to gre

[2020-06-23 16:39] jsoriano commented on #86
Why using the master branch of the package registry to serve snapshot packages? I think we should decouple development of packages from the development of the registry and its storage backends. In my opinion, packages on all stages should be served by released versions of the registry, ideally the same versions. This way we avoid blocking development of packages by issues introduced in the registr

[2020-06-23 20:03] jonathan-buttner commented on #86
@ruflin I think it might be helpful to have a CI script (maybe in jenkins?) where you could enter or select the package you want to move from `snapshot` to `staging` or `staging` to `production` and then click a button to have it moved to the next environment for you. I think this would effectively open a PR from one branch to the next and handle the cleanup.

What's the benefit of removing it fro

[2020-06-23 23:03] EricDavisX commented on #86
I'm loving this conversation.  There is just so much to digest here...
I think it would help testing and automated tests to run more smoothly for sure, to have stable versions of the code and packages to run against.

I appreciate @jsoriano 's comment about having the actual Registry code pulled a known stable version.  I suppose It Depends.  I would guess that Beats & Kibana ci would generally wa

[2020-06-24 09:01] ruflin commented on #86
@kuisathaverat

* We had in the past a discussion around the problem on what happens if k8s scales up the containers and newer ones are available we get a version disconenct. This lead us to the internal version hashes etc. Do we still need this?

@jsoriano

* Decouple registry development from integrations: I'm on board with this, it also leads to reproducible CI. But I assume the snapshot one mo

[2020-06-24 10:18] jsoriano commented on #86
@EricDavisX

Yep, it depends on the use that we make of each environment, but if the environments described here are going to be used for the package release process, and as a way to share packages during development and testing, I think that they should use controlled versions, ideally stable ones. Registry and Packages CI should probably be separated things, each one with their own dependencies.

[2020-06-24 11:59] kuisathaverat commented on #86
That's my initial idea to promote the binaries, but we have three "release" branches and each one is a different stage, so I guess that what we promote are the changes between those branches and then we release the binary.

We had in the past a discussion around the problem on what happens if k8s scales up the containers and newer ones are available we get a version disconenct. This lead us to the

[2020-06-24 12:55] ruflin commented on #86
@kuisathaverat Quoting from my initial description:

Based on the comment from @jsoriano I think we can assume that each version of a package-storage branch is tied to a very specific version of the registry moving forward (not the case today).

[2020-06-24 13:56] kuisathaverat commented on #86
if this is the case you only have one version number and two flavors (stable and experimental).

[2020-06-25 07:35] ruflin commented on #86
I had a follow up chat with @kuisathaverat to dive a bit more into this. What I plan to do as a next step is to move this forward is to create the snapshot branch with a POC for this. It will contain the existing packages + everything we need for the above. The Docker containers which will be created will be:

[code]

We need the commit hash docker images for the deployment to make it reproducible

[2020-06-25 08:31] ruflin commented on #86
I branched of `master` into `snapshot` and now adding the logic for the above discussion to it. The PR is here: https://github.com/elastic/package-storage/pull/88

[2020-06-25 09:08] mtojek commented on #86
A side note: this thread is getting a bit too long, would be nice to write up summary once decided, so that everyone can review it.

[2020-06-30 14:53] ruflin commented on #86
Here a quick summary of the current state and the steps forward. The main thing which changed from the initial proposal is that for all branches we use a fixed version of the package-registry. We didn't settle yet on the final way how the deployment of production will work. Here is the updated table:

|                   	| Snapshot                	| Staging                	| Production

[2020-07-01 12:36] jfsiii commented on #86
@ruflin @jen-huang In Kibana, we can determine if a cluster is running a snapshot by using the `version.build_snapshot` boolean from `/api/status` response

https://github.com/elastic/kibana/blob/c8c20e4ca8e768bcce2e471a2f80aef03d4a2a62/packages/kbn-dev-utils/src/kbn_client/kbn_client_status.ts#L39

I don't know if it's available when we initially assign the registry url but we could work the logi

[2020-07-01 18:54] ruflin commented on #86
@jfsiii Would be great to have some logic like the above. We could probably also do without special logic by saying: `master` always points to the `snapshot` registry and everything else to `production`. Then the only time we have to be careful to reset it, is if we branch of the new 8.x from master to change it. For testing, users would manually change it to staging / snapshot etc. as needed.

[2020-07-02 15:58] ruflin opened #115 "Cleanup old packages"
Before we hit 7.9, we should use the opportunity to clean up all the package versions we had over the last month. For each package, only the most recent version should be left.

This means, the production branch needs to be cleaned up.

[2020-07-02 17:21] ruflin commented on #86
Update on the current status of this migration:

* 3 branches: Now in package-storage repo the `production`, `staging` and `snapshot` branches exist. `production` contains all the packages form `master`. No further changes should be made to the master packages, these will be removed. snapshot and staging contain both only 1 package for now. These packages are called `snapshot` and `staging` which

[2020-07-03 08:44] ruflin opened #120 "Decide what to put on the landing page of package-storage"
Currently the master branch is shown when landing on the package-storage page. It should be decided on what to show or which branch. See also conversation here: https://github.com/elastic/package-storage/pull/116#issuecomment-653423815

[2020-07-03 11:01] ruflin commented on #86
Update on the progress:

* Snapshot registry: This is now available under https://epr-snapshot.ea-web.elastic.dev/ Soon also the CDN variant under https://epr-snapshot.elastic.co/ will be available.
* The registry package itself now does not contain any packages. All release branches were updated to make use of the new registry and add their own packages.
* Kibana master was updated to point to th

[2020-07-03 11:01] #86 closed

[2020-07-03 11:06] ruflin opened #123 "Promote packages between stages"
# Idea

Use Jenkins pipelines wherever it's possible model the (semi-)continuous delivery solution, that will help with releasing.

# Release stages

With https://github.com/elastic/package-storage/issues/86 the package-storage has 3 release branches: production, staging, snapshot. Packages can be promoted from one branch to an other. This looks as following:

## snapshot -> staging

* select pack

[2020-07-03 11:07] ruflin commented on #123
@ph I assigned you for now so you can push this forward.

[2020-07-22 14:16] jonathan-buttner opened #150 "[BUG] Production packages are failing CI integration tests"
Most of the packages in production are failing in CI's integration tests. An example of the failure can be seen here: https://github.com/elastic/package-storage/pull/149

This is because the ingest manager is now sending its version to the package registry which is excluding the packages. So when the integration tests try to install the packages a 500 is returned indicating that the package doesn'

[2020-07-22 16:26] jonathan-buttner opened #151 "[DISCUSS] Flow of releasing packages"
This issue is to discuss the proposed flow for releasing a package and the CI jobs in place to support that flow.

Should we be able to release straight to production without having to go through snapshot and staging?

If it is a valid use case to release straight to production it would be handy to have CI jobs automatically kicked off for `staging` and `snapshot` once a build completes on the `pr

[2020-07-23 07:10] mtojek commented on #120
Honestly, I would be for removing master branch at all, not to confuse people. Simply set one of the others as default, e.g. snapshot. WDYT @ycombinator ?

[2020-07-23 13:27] ruflin commented on #151
@jonathan-buttner I think it is discourage but valid way to release a package. @kuisathaverat We had in the past some dependencies between repositories, so I assume adding these dependencies should be possible?

The way I see the dependencies is:

* If production is update, staging must be updated
* If staging is updated, snapshot must be updated

This means, if production is updated, indirectly s

[2020-07-23 13:32] ruflin commented on #120
This is one option. But I think there is some value in having a branch where we can put shared things across the branches like docs or scripts. I think @kuisathaverat also has this requirement for CI.

[2020-07-23 13:48] ycombinator commented on #120
Yeah, I'm ++ for keeping the `master` branch to use for a landing page and also any other administrative information, scripts, etc. I would, however, make it very clear at the top of the README that no packages should go in this branch and then explain the rest of the branches, etc.

[2020-07-23 14:44] kuisathaverat commented on #151
In the past, we triggered a build of package-storage Docker image on merges on a branch of the package-registry. I dunno if the same approach would ve valid.

I do not have clear here is what we want to deploy on staging when we make a change on production, I will try to explain what I understood about who this repository works.
* Package storage contains packages
* It has three different packages

[2020-07-23 15:21] jonathan-buttner commented on #151
If we make a change in production and now `package1` is on version `v1.0.3`, that package will be propagated to `staging` and `snapshot` when those branches are built because the docker file copies the `production` packages during the docker build process: https://github.com/elastic/package-storage/blob/staging/Dockerfile#L9
https://github.com/elastic/package-storage/blob/snapshot/Dockerfile#L10

[2020-07-23 15:48] ycombinator opened #154 "[DISCUSS] Branch protection rules for the production branch"
For the `production` branch should we enable the following [branch protection rules](https://github.com/elastic/package-storage/settings/branch_protection_rules/16634832)?
* Require pull request reviews before merging
* Require status checks to pass before merging

[2020-07-23 15:49] ycombinator commented on #154
cc: @ruflin @ph @mtojek @jonathan-buttner

[2020-07-23 16:15] jonathan-buttner commented on #154
Yeah I agree with both of those suggestions. We should probably fix CI in the production branch first though haha: https://github.com/elastic/package-storage/issues/150

[2020-07-27 07:07] ruflin commented on #150
My thinking was that on the Kibana side we have a switch which detects that we are running the SNAPSHOT version and don't send the query param. This will mean, the SNAPSHOT build will always show ALL most recent packages.

[2020-07-27 07:28] ruflin commented on #154
I think I added some protections already, happy to add more.

[2020-07-27 09:16] kuisathaverat commented on #120
we need the master branch to manage the job definitions in the CI, we could rid of it by making an exception for this repo on the JJBB definition, not a big deal but outside of the regular standard. So we can do it but first, we have to change the job definitions to another branch.

[2020-07-27 15:05] ruflin commented on #150
I filed an issue on the Kibana side for this: https://github.com/elastic/kibana/issues/73291

[2020-07-28 11:14] ruflin commented on #151
@kuisathaverat Does what @jonathan-buttner explains above solve your question? If yes, anything I can help with getting these changes in?

[2020-07-28 11:44] ruflin opened #163 "[Discuss] What Kibana version should CI run against"
This issue is to discuss which branches should tests against which Kibana version.

Currently, CI spins up a `8.0.0-SNAPSHOT` cluster and tries to load the packages into. But in reality, all the packages we release are for `^7.9.0`. This means we test against a version which is not actually the one in the end used. Historically this made sense as all the development / major chanegs were in 8.0.0-S

[2020-07-28 11:47] kuisathaverat commented on #151
yes, it works completely different than I thought

[2020-07-28 14:36] jonathan-buttner commented on #163
I wonder if there's some automated way we could query the docker registry to see what the latest major/minor/patch release is or something and use that? That might reduce some of the maintenance burden of having to change this each time we release the stack.

`7.10.0-SNAPSHOT` sounds good to me.

Yeah I think consistency would be good. That'll reduce potential confusion about which branch should b

[2020-07-28 14:38] ruflin commented on #163
I remember I asked for something like `7.x-SNAPSHOT` to allow this. Back then it was not possible. Perhaps someone knows if something like this exists now out there? @JoshMock perhaps?

[2020-07-28 16:18] JoshMock commented on #163
Not sure if this totally answers your question, but [we do publish snapshot builds to the Docker registry](https://www.docker.elastic.co/r/kibana/kibana?show_snapshots=true).

If you want another artifact that isn't containerized, [the artifacts API](https://artifacts-api.elastic.co/v1/versions/7.10.0-SNAPSHOT/) exposes lots of URLs to tarballs for whatever version you might need.

[2020-07-28 17:27] EricDavisX commented on #163
To be able to contribute more, I need a meeting to understand where we are and some nuances I don't understand.  Maybe all I need is a flow-chart of the life-cycle of a package change:
 - what repo it starts in,
 - what repo it is committed to
 - who approves
 - what registry and systems is it first seen in
 - decision tree for it to be promoted (if it starts at 'SNAPSHOT' as most should)
 - who p

[2020-07-28 20:07] ph commented on #154
Agree on the proposal.

[2020-07-28 22:08] ycombinator commented on #154
Sounds like we're in agreement. I just checked and the rules proposed above are not yet applied: https://github.com/elastic/package-storage/settings/branch_protection_rules/16634832. I also see @jonathan-buttner's comment about resolving #150 first so waiting on that before enabling the rules.

[2020-07-29 12:00] ruflin commented on #163
@JoshMock `kibana:7.x-SNAPSHOT` is exactly what I was looking for. Thank you!

[2020-07-29 12:03] kuisathaverat commented on #151
Do you know that for the same commit SHA we will have different Docker images with different content?

e.g.

we have the following branches status
* production - commit SHA 111111111 - packages1 - dockerImage:111111111
* staging - commit SHA 2222222222 - packages1 + packages2 - dockerImage:2222222222
* snapshot - commit SHA 3333333333 - packages1 + packages2 + packages3  - dockerImage:3333333333

[2020-07-29 12:08] ruflin commented on #151
ups, was not thinking of this. Could we make the second on `dockerImage:333+staging+prod` or similar?

[2020-07-29 12:23] kuisathaverat commented on #151
we can put labels in the Docker image to know which version is in it, to know what it is really inside.
If we will need to grab exact version we can use something like this `dockerImage:b366a24-c116a45-a123c56` with the short SHA of each repo, this tag will be an additional one we can keep the commit SHA one (dockerImage:b366a24b366a24b366a24) and the branch one (dockerImage:snapshot)

[2020-07-29 13:49] jonathan-buttner commented on #150
I think this issue is mostly resolved. We just need to remove the `8.0.0` from here: https://github.com/elastic/package-storage/blob/production/testing/main_integration_test.go#L131

And switch these lines to `7.x-SNAPSHOT`?
https://github.com/elastic/package-storage/blob/production/testing/environments/snapshot.yml#L6
https://github.com/elastic/package-storage/blob/production/testing/environments

[2020-07-29 14:46] ruflin commented on #163
I had a good conversation with @EricDavisX about the current state, how things work together and where we should go. The short summary is: We should build and test against what we release. Today this is 7.9.0(-SNAPSHOT) so this is what we should move forward first.

As soon as we are out with 7.10, we should test 7.9 + 7.10 and have queries for the packages. This list will keep growing and we need

[2020-07-30 13:17] ruflin commented on #150
@jonathan-buttner Yes, but we should go with 7.9.0-SNAPSHOT probably.

[2020-07-30 13:55] ruflin commented on #154
@ycombinator I think #150 should not hold us back here anymore as builds are green. Can you take care of the changes?

[2020-07-30 13:57] jonathan-buttner commented on #154
@ruflin I think we still need to change a couple things as my promotion of the endpoint v0.12.0 package is failing:
https://github.com/elastic/package-storage/pull/179

[2020-07-30 14:49] mtojek commented on #123
I will take care of this.

[2020-07-31 06:27] ruflin commented on #123
Thank you!

[2020-07-31 07:17] ruflin commented on #151
SGTM. To make sure we talk about the same thing:

* PR to staging is merged with commit hash `aaabbb`
* This creates `distribution:staging` and `distribution:aaabbb` + contains the labels on what prod commit packages it contains
* This triggers a build for `snapshot`. Current `snapshot` commit is `cccddd` and image for it already exist
* It creates `distribution:snapshot` and `distribution:cccddd-

[2020-07-31 07:36] ruflin opened #184 "Proposal: Use [branch] in PRs as title prefix"
One thing that I think @ycombinator started is to use `[branch-name]` as a prefix in the PR title to describe what branch it targets. I personally find this very useful to quickly spot against what branch a PR should be and also if the same PR happens three times, differentiate between them.

So this is a proposal that we prefix our PR's with the according branch name like `[snapshot]`.

[2020-07-31 07:36] ruflin commented on #184
@ycombinator @jonathan-buttner @mtojek WDYT?

[2020-07-31 07:40] ruflin commented on #163
I now opened PR's against snapshot, staging, production for the following changes. Also the integrations repo https://github.com/elastic/integrations/pull/202 and package-registry tests were also adjusted.

[2020-07-31 09:29] ruflin commented on #154
See my last comment, I think this is now also fixed.

[2020-07-31 11:39] ycombinator commented on #184
Haha, I think this was not intentional on my part TBH. It is a result of using https://github.com/sqren/backport 😄

[2020-07-31 11:40] ycombinator commented on #184
At any rate, I think it's a nice convention so I'm ++ to following it.

[2020-07-31 13:34] jonathan-buttner commented on #184
Sounds good to me!

[2020-07-31 13:35] mtojek commented on #184
SGTM!

Already adjusted the one active: https://github.com/elastic/package-storage/pull/187

[2020-07-31 14:26] ruflin commented on #184
Seems like we are in agreement then. Will try to add it to our README as convention then.

[2020-07-31 20:11] EricDavisX commented on #163
yes.  thanks for reviewing.  We will want to discuss the amount and format of communication for when packages are being pushed, but it mostly amounts to having assurance that each package is really ready for 'production'.

[2020-08-03 11:24] mtojek commented on #184
Once the README is updated, I think we can close this issue.

[2020-08-03 11:26] ruflin commented on #184
Yep, good timing. I just opened https://github.com/elastic/package-storage/pull/211

[2020-08-03 11:31] mtojek opened #212 "Proposal: do not delete packages from branches"
Hi,

I have on my roadmap a plan for preparing a release management solution and I was wondering if we can simplify some actions here.

I propose to shape a Git flow here and do not delete already promoted packages from branches. The overall look of the package-storage will change a bit:

Currently -
snapshot: A.34
staging: A.33
production: A.30

Would be -
snapshot: A.30, A.33, A.34
staging: A.30

[2020-08-03 11:31] mtojek commented on #212
FYI @ruflin @ycombinator @jonathan-buttner

[2020-08-03 12:01] ruflin commented on #163
Going to close this issue as the changes suggested are implemented.

@EricDavisX We should have a follow up discussion / issue on prod communication and criterias for push. Interested to take this on?

[2020-08-03 12:02] #163 closed

[2020-08-03 12:11] #184 closed

[2020-08-03 14:24] ycombinator commented on #212
I imagine with this proposed change the three registry Docker images — `snapshot`, `staging`, and `production` end up having a 1-1 relationship with the corresponding branches in the `package-storage` repo? If so, I like it — it certainly simplifies the understanding of the registry stages in relation to the `package-storage` branches, it simplifies the promotion process like you noted, and it wou

[2020-08-03 23:11] ycombinator commented on #154
I have updated the branch protection rules for the `production` branch as follows:

<img width="942" alt="Screen Shot 2020-08-03 at 4 09 07 PM" src="https://user-images.githubusercontent.com/51061/89235787-ba49b680-d5a3-11ea-9cf9-f3b8f8800d01.png">

If you wish to alter these, go to https://github.com/elastic/package-storage/settings/branch_protection_rules/16634832.

[2020-08-03 23:11] #154 closed

[2020-08-03 23:14] ycombinator commented on #154
@mtojek I know you have been working recently on automation around promotion between branches. I hope the above changes do not impact you adversely. If they do, I believe we should try to keep them in place but try to make the necessary exceptions for automation users (e.g. via system accounts/headless users).

@ph @ruflin @mtojek Note that the above protection rules have been applied **only** to

[2020-08-04 07:09] mtojek commented on #154
Absolutely agree with you, such configuration is a must. If so, I will adjust to it ;)

Should these rules be applied to all branches? I would say - based on consistency, yes.

[2020-08-04 12:30] jonathan-buttner commented on #154
Hmm, since `staging` and `snapshot` are more of testing branches maybe we don't require the review or that it passes testing just in case something breaks in CI?

[2020-08-04 13:27] jonathan-buttner commented on #150
This should be fixed

[2020-08-04 13:27] #150 closed

[2020-08-04 13:31] jonathan-buttner commented on #212
This sounds good to me. I'd still like to support for development straight to the `staging` branch. For endpoint development I've mostly been skipping the `snapshot` branch when releasing the package and being going straight to `staging`. So if the release script to work with a package starting from `snapshot -> staging` and `staging -> production` that'd be great!

[2020-08-04 19:04] ruflin commented on #212
My initial intention with having only the current package for example in staging is to make it obvious which packages are currently there for testing and not release yet. If all of them are there, this becomes tricky.

My thinking around snapshot containing all the other packages is to make sure the user gets the full experience there. Some packages might otherwise be missing, for example the syst

[2020-08-04 19:25] ruflin commented on #154
I still have hopes that some scripts will push to staging and snapshot in the future so I would say no.

[2020-08-04 20:13] jonathan-buttner opened #252 "[DISCUSS] Package release and development process"
Endpoint's current flow for developing the endpoint package is to bump the `minor` version of the package and push it to `staging` (and which also gets picked up in `snapshot`) to allow other developers who do not run the package registry locally to leverage new mappings. During the development cycle multiple "interim" packages could be released to `staging`. This has the side effect of skipping v

[2020-08-05 06:06] mtojek commented on #212
I fundamentally disagree with the approach of pushing changes that haven't been verified by the CI. This is not a box product, we must tend to manage a full CI/CD here. From ops perspective it impacts visibility much. Yesterday we deleted a couple of packages - imagine tracking/referring to this change without the PR. PRs also attract to discussions and researches around potential issues.

That's

[2020-08-05 12:01] ruflin commented on #252
Would all these "prerelease" packages be pushed to `staging` or `snapshot`?

[2020-08-05 12:16] jonathan-buttner commented on #252
Actually good point, we could just push them to snapshot since that's what master is pointing at.

[2020-08-05 12:21] ruflin commented on #212
@mtojek I'm glad you do, me too. I think we are on the same page about the CI / CD pipeline.

I think you are right here. The main reason we do it at the moment is because we have too many emergencies and the pipeline is not optimal yet.

@mtojek TBH I think we are mostly on the same page. My guess that the above potential just becomes a "given" as soon as the proper CI / CD is in place.

[2020-08-05 12:33] ruflin commented on #252
@jonathan-buttner Yes, and we could still do you the prereleases but perhaps `0.14.0-{commit-hash}` or anything you can automated instead.

[2020-08-05 12:56] jonathan-buttner commented on #252
Ok cool, I'll start working on the ingest manager changes. I think we'll still what to do `<major>.<minor>.<patch>-<prerelease string (dev, alpha whatever)><some number>+<commit-hash>`

If we don't have the `some number` portion we could run into a scenario where the newest commit (newest prerelease) is technically _less than_ the previous prerelease. This probably wouldn't be a huge deal since mo

[2020-08-06 07:14] ruflin commented on #212
@mtojek I've been thinking about this again. At the moment the process is not ideal and this will simplify it. I would say lets try it out?

[2020-08-06 07:15] ruflin commented on #252
Good point about deciding what is newest. Any plans on your end how you will generated the preprelease incrementally or is it manual?

[2020-08-06 07:21] mtojek commented on #212
Once I'm done with changes in https://github.com/elastic/integrations/pull/224 I'll will switch to this topic. I was also waiting for deploying changes around data_stream and as we did it yesterday, I don't find any other blockers.

[2020-08-06 07:46] mtojek commented on #212
Another idea: let's keep the content in branches snapshot, staging, production equal, I mean exactly the same. Then we'll end up with a PRs like: merge snapshot into staging, merge staging into prod.

Docker tags can be determined by branch names (distribution:<branch_name>).

At the moment, we need 3 custom PRs to different branches to update EPR. If we agree on the idea, it would require also 3

[2020-08-06 07:56] ruflin commented on #212
* What about `preprelease` packages?  I assume they should never end up in `staging` or `prod`
* What if we put a package into snapshot and decide to pull it again?
* How would promoting one package from staging to prod work without promoting all of them?

[2020-08-06 08:11] mtojek commented on #212
Which packages are prerelease? Do you refer to snapshot and staging packages? I believe in this setup we can delete them.

What do you mean by pull it again?

I meant untouched merge from snapshot to prod when we want to move all packages at once. In cases where we need to move some packages only, we can edit the PR or simply rsync.

[2020-08-06 08:48] ruflin commented on #212
* Prerelease: None yet, but might be coming: https://github.com/elastic/package-storage/issues/252
* Pull: Should have been more specific, delete a package because it was just to try it out

The last point is interesting. What is our assumption on how packages are deployed in the future? Today we often do bulk deployments because we do bulk changes. But I do not expect that this is how things work

[2020-08-06 08:50] ruflin commented on #212
Additional thought: What if we split up the environments in 2 parts:

* staging / production: All packages go through this cycle
* snapshot: This is additional and must not be always used. It might also work a bit different by pulling in packages from other repos etc.

[2020-08-06 08:55] mtojek commented on #212
It should never happen, but it's a matter solution flexibility. I don't expect the whole system to collapse if we do such thing.

There would be a risk that this will become a playground which "always" doesn't work or somebody deployed some crappy revisions there.

My goal is to cure us of current issues and don't focus on long-term plans. I expect the package-storage design to be changed/replaced

[2020-08-06 09:42] mtojek commented on #115
@ruflin I think we already did this?

[2020-08-06 12:36] jonathan-buttner commented on #212
Hmm I think we should treat `snapshot` as a special place that will have packages that will never make it to `staging` or `production`. For example this happened recently for the endpoint team:

One of our developers needed to push an interim/prerelease package to an environment so that a new docker image would be built that we could pin to in our kibana integration tests. This interim package wil

[2020-08-06 12:49] ruflin commented on #115
Yes, this can be closed. The question is probably if we should do it again shortly before the release?

[2020-08-06 13:29] jonathan-buttner commented on #252
Yeah my hope is to create a script for the endpoint package that allows a developer to run a make command to release the package. The script would ask whether the release is a prerelease or meant for production. If it is a prerelease it would keep the prerelease version that I'm working on here: https://github.com/jonathan-buttner/endpoint-package/blob/update-readme/.bumpversion.cfg#L2

It would o

[2020-08-06 14:13] mtojek commented on #212
Aaa, I see where the problem lies. We used to keep development inside the integrations repo, so that all prerelease packages don't leave the repo. We release only these ones that should be pushed.

I'm not quite convinced about the way you used to publish to snapshot and potentially delete it. Maybe it's because I consider the snapshot as same important stage of the release process as others, so I

[2020-08-06 14:19] mtojek commented on #252
I wonder that's the reason why we have the "experimental" tag.

e.g.

version 1.0.5 is "ga"
version 1.0.6-prerelease-alpha is "experimental" , so prods won't expose it.

[2020-08-06 14:24] mtojek commented on #212
Regarding the script, this is the task I'd like to focus on (incl. implementation not just design), so I need to introduce potential modifications before I will start building tools.

[2020-08-06 14:32] jonathan-buttner commented on #212
Yeah unfortunately I think prerelease packages will need to exist in `package-storage`. This is because we need a docker image built and published that we can use in our Kibana integration. This will likely happen before we plan on releasing a package to production.

I'm fine with not deleting a prerelease package. The way I'm thinking of using prereleases is incrementing a number when we publish

[2020-08-06 14:43] mtojek commented on #212
We used to handle this a bit differently. We parked all integrations in staging, tested them there and left until a green light for the release to prod. This can be anything starting from a notice, blog post to official announcements.

I had a similar confusion :) What do you think about merging snapshot into staging and keep two stages.

[2020-08-10 08:53] ruflin commented on #212
I personally still see value in the three branches. I think we are mostly aligned on what staging and production are for:

* staging: Packages ready to be tested and very likely to be released as is. This is a "release candidate" and where testing happens.
* production: Released packages

Where I think `snapshot` is really valuable is to really have snapshot builds of packages. I compare it to wha

[2020-08-10 08:59] ruflin commented on #252
@mtojek This is a good question. As package versions are not tied to stack release versions, we could indicate experimental  and beta releases in the version number.

Taking your example above, also `<1.0.0` is `beta` or `experimental`. How would you make the differentation between beta and experimtental?

[2020-08-10 09:31] mtojek commented on #252
I'm fine with this.

Yes. "Beta" or "experimental" or "ga" are just tags defining stability of the revision. Once defined I can't be changed/upgraded/downgraded.

I'm not sure if it answers your question, but I believe it's up to us and our level of confidence, whether we should release package as beta or it's still experimental.

[2020-08-10 09:36] mtojek commented on #212
I think in the initial version I will adjust to the current design, not to introduce too many changes at once. We can iterate on this later on.

Regarding questions regarding the package development cycle based on the "endpoint" package, I think these are valid concerns that need to be addressed in package-storage 2.0.

[2020-08-10 13:11] jonathan-buttner commented on #212
I agree, I think that's a good summary of the purpose of these environments.

I agree here too. This is also how the endpoint team will use the `snapshot` environment.

I think `0.14.0-dev.5` should go to `snapshot`. No each commit does not create a new dev build. A developer has to intentionally publish a dev build for remote testing. The developer working on the feature is expected to test the d

[2020-08-10 19:57] EricDavisX commented on #163
uh, late reply - but yes, I can add it to my list o' things to wrangle.  cheers.

[2020-08-10 21:06] EricDavisX commented on #115
I might ask us not to delete more from Prod at this point, we're at the End of the cycle for 7.9 - its... too late.  just a QA / release biased 2 cents.

[2020-08-11 06:57] ruflin commented on #252
@mtojek Could you make an example of a revision for `beta` and one for `experimental`?

[2020-08-11 07:11] mtojek commented on #252
Beta samples:

`mysql-0.9.8` - has been released to prod, but we're not confident about this revision and we may change it according to the release policy (beta)
`nginx-12.3`- previous release was 12.2, now we're heading up with 12.3.

Experimental samples:

`nginx-12.3.1` - contain a bugfix for problems spotted in 12.3. It may be tested by community users, but shouldn't be installed in general
`e

[2020-08-11 09:21] ruflin commented on #115
@EricDavisX Understood. The only package I'm tempted to remove is `crowdstrike` as older versions are in beta: https://epr.elastic.co/search I don't think this is intentional @adriansr might be able to comment. Before we can remove it, we need of course a newer version ...

[2020-08-11 10:31] ruflin commented on #252
@mtojek Based on your comment in https://github.com/elastic/package-storage/issues/252#issuecomment-671240372 I somehow assumed, you meant beta/experimental can be indicated with the version itself. But taking `nginx-12.3.1` as an example, this is not the case.

Diving into your example for `haproxy-13.0`. There is also a part, that a dataset can be experimental / beta but the package is GA, that

[2020-08-11 13:33] jonathan-buttner commented on #252
Just want to make sure I'm tracking correctly. The **tag** we're talking about that indicates whether it is `beta`, `experimental` etc is the `release` field in the manifest right? https://github.com/elastic/package-storage/blob/production/packages/endpoint/0.13.1/manifest.yml#L8

Oh I didn't realize that datasets themselves can be experimental but the package is GA. Is that something we support r

[2020-08-12 07:14] ruflin commented on #252
@jonathan-buttner Each dataset can have it's own release tag: https://github.com/elastic/package-storage/blob/production/packages/aws/0.2.4/dataset/billing/manifest.yml#L2 We have it in the manifest today but don't expose it in the UI yet.

[2020-08-12 07:23] mtojek commented on #252
Sorry, it's a typo. We can consider this as 12.3.0.

[2020-08-12 09:11] ruflin opened #348 "Recreate base package"
In 7.8, we had a base package that shipped the default assets to Elasticsearch: https://github.com/elastic/package-storage/tree/experimental/packages/base/0.1.0 The package was removed in 7.9 as the assets are now shipped directly by Elasticsearch.

Upgrading of the assets as soon as they are shipped will still be responsibility of the Ingest Manager. Assuming in 7.10 we add 1 new field to the bas

[2020-08-12 19:42] #123 closed

[2020-08-14 09:25] ruflin opened #364 "Switch over to elastic-package for cluster setup"
The package-storage branches contain a bit code around setting up a test cluster. As elastic-package (https://github.com/elastic/elastic-package) is implementing setting up and running a cluster, package-storage should start using elastic-package code for this instead of maintaining it itself.

[2020-08-18 09:57] ycombinator opened #365 "Lint packages using elastic-package lint"
Similar to https://github.com/elastic/integrations/pull/246, it would be great if we could have all packages in this repository automatically linted as part of Jenkins CI [PR](https://beats-ci.elastic.co/job/Beats/job/package-storage/view/change-requests/) and [branch](https://beats-ci.elastic.co/job/Beats/job/package-storage/) build jobs.

Some challenges to overcome:
- Older versions of packages

[2020-08-18 10:41] ruflin commented on #365
* ++ on the idea of skip linting. I'm sure we find good solutions around using the `format_version` in the future for this. I would even be ok, to update all current packages to be `format_version: 0.9.0` if this makes things easier.
* endpoint type: @jonathan-buttner did you investigate if we could remove the `solution` type or if there is any logic attached to. Assuming moving forward it would a

[2020-08-19 15:53] ph commented on #115
@adriansr Could you comment on the above?

[2020-08-20 11:21] ruflin commented on #115
As by now we shipped 7.9, it is kind of too late to remove the packages. But as we will have a new registry with 7.10, we can follow up here.

[2020-08-24 14:55] jonathan-buttner commented on #365
@paul-tavares any idea if we use this field in the Security Solution UI: https://github.com/elastic/kibana/blob/master/x-pack/plugins/ingest_manager/common/types/models/epm.ts#L59 ?

Currently the endpoint package has `solution` for the `type` and we'd like to change it to `integration`: https://github.com/elastic/endpoint-package/blob/master/package/endpoint/manifest.yml#L11

[2020-08-24 23:56] paul-tavares commented on #365
Jonathan,
No, I don’t think we use it in security_solution. If I remember correctly,
the only value we attempt to get is package `version` (Via Kibana epm API).

/Paul
--

___
*Paul Tavares *| Sr. Software Engineer | Elastic / www.elastic.co | Durham,
NC, USA

[2020-08-25 14:04] jonathan-buttner commented on #365
Thanks Paul! @ycombinator I'm working on a PR to get the endpoint package to pass linting. I don't think I have any concerns with changing the existing packages to `0.9.0`. I guess it wouldn't really make sense to only have the linter run on `format_version: 1.0.1` or something?

[2020-08-25 14:35] ycombinator commented on #365
So the way the linter works is it takes the major version from the `format_version` and finds the spec for that major version. And then uses that to validate the package. Essentially, we expect that once a spec's major version is set, we only expect non-breaking changes to the spec from that point forward, until the next major version.

Currently we only have version `1.0.0` of the spec defined. S

[2020-08-25 14:39] jonathan-buttner commented on #365
Gotcha, that makes sense.

[2020-09-02 07:49] ruflin opened #390 "[Discuss] Caching time of assets on production"
All the assets served by the package-registry are going through the CDN and can be cached by the CDN. This issue is to discuss the best caching times in our production environment. The [current values](https://github.com/elastic/package-storage/blob/production/deployment/package-registry.yml#L4) are:

[code]

## Cache values explained

To better understand what each means, here a few details on wh

[2020-09-02 07:50] ruflin commented on #390
@ycombinator @kuisathaverat @mtojek @ph Would be great to get your feedback on this one.

[2020-09-02 15:08] ph commented on #390
@ruflin Your values make sense, but I am curious about the strategy. We control the deployment of the packages could we also invalidate the cache on push?

[2020-09-03 06:56] ruflin commented on #390
@ph We could, but it makes the deployment much more complex as now suddenly we need access to fastly during deployment time. Not purging it has also the advantage that if something goes wrong, there is still the cache available to serve the content and as far as I remember, there is also a price-tag attached to purging. Last, I don't see too much benefit in purging if we keep the caching values lo

[2020-09-03 12:16] ph commented on #390
@ruflin Good point on "permission", but its something to consider when we have CD on, we could combine that with the health check and just purge the cache.

[2020-09-15 13:49] ruflin commented on #115
@mtojek @adriansr @fearful-symmetry I'm following up here now as in the 7.10 registry we have the following packages showing up when not run with `experimental=true`:

[code]

The reason is that these are release as beta. I'll open a PR to change the release type of these to experimental. But me might go even further and remove old versions if needed.

[2020-09-15 13:57] ruflin commented on #115
I opened https://github.com/elastic/package-storage/pull/393 but now thinking that it should only change the crowdstrike package? 🤔

[2020-11-03 10:21] mtojek commented on #212
I suppose I can close the issue. It's a bit stale now.

[2020-11-03 10:21] #212 closed

[2020-11-03 10:22] mtojek commented on #151
I suppose I can close the issue. It's a bit stale now.

[2020-11-03 10:22] #151 closed

[2020-11-03 10:22] mtojek commented on #115
Resolving.

[2020-11-03 10:22] #115 closed

[2020-11-03 10:23] mtojek commented on #348
@ruflin is it still valid or can we close this one?

[2020-11-03 10:28] ruflin commented on #348
@mtojek We do not needed it today but I it will become relevant again as soon as do a change to the base templates. I would like to keep it open as a reminder.

[2020-11-03 10:38] mtojek opened #592 "Automatic merge for the snapshot branch"
As we agreed today, we have to enabled automatic merges in the package-storage repository for the snapshot branch.

Enabling it for staging is a bit more complicated as it requires more logic (promotion concern two stages and the Docker build order is important).

Let's discuss ideas.

1. New scheduled (every 15 minutes?) Jenkins job responsible for merging changes that looks good.
2. Artificial C

[2020-11-03 11:59] ruflin commented on #592
I think we need to differentiate two different PR's here. The ones that just change a package and should be auto merged. They are also generated by a script. And then the manual PR's like updating a registry which we might want to have a discussion on. I guess we can use labels to make this differentiation?

Not sure I fully understand how having automatic merge by CI in staging is different from

[2020-11-03 12:35] mtojek commented on #592
Yes. The CI Jenkins builder runs `mage UpdatePackageStorage` which opens PRs against the snapshot branch (user Elastic Machine). The question is what is the reasonable design of the auto merge?

I assume you're referring to manual version updates of the package-registry (bumping up registry release). I would leave this as manual actions.

It is different because of the dependency between stages. P

[2020-11-04 15:01] ruflin commented on #592
Got it, missed the two PR parts. But I'm wondering if it matters if we look at staging and snapshot independent. User promotes package to staging. Now a script in staging decides if the added package can be merged and a script in snapshot decides if the removal is ok. We now get into the situation, that it was removed from snapshot but not added to staging was red. What if we just say this is acce

[2020-11-04 16:21] mtojek commented on #592
What if it's the system package, which is crucial and it silently disappears. Keep in mind that there might be a different job which can also approve different PR, and another developer will rollout deployment with impaired snapshot image.
I'm not quite sure if we can accept this risk, I'm afraid we might have missed some edge cases. It's safer to wait for the staging PR to get merged.

[2020-11-05 10:10] kuisathaverat commented on #592
we can have a stage at the end of the pipeline that merges the PR if the build is successful and is labeled with auto-merge (or something else), this merge and squash the PR, and a new build is triggered because of the merge on the snapshot branch.

Reading your comments, I wonder if there is a case where we want to auto promote a merge on the snapshot branch to the stage environment.

[2020-11-05 10:23] mtojek commented on #592
It depends on the package owners whether they prefer to keep their changes in snapshot or move quickly to staging. Based on observations, the staging is used mostly during the testing phase, as these packages are candidates for prod release.

Considering the fact that promotion involves two PRs (add and remove), what does the auto-promote look like? To be clear, I think we don't need it at the mom

[2020-11-05 10:44] mtojek commented on #592
As discussed offline with @kuisathaverat , it will be covered by the robots team.

[2020-12-22 15:08] ruflin commented on #390
Closing as this was changed in https://github.com/elastic/package-storage/pull/380

[2020-12-22 15:08] #390 closed

[2021-01-12 10:10] mtojek commented on #592
@kseniia-kolpakova @kuisathaverat Hi! Do you have any ETA for this issue? I would be nice to see this feature live.

[2021-01-12 15:14] kuisathaverat commented on #592
we are checking a couple of options mergify and the new automerge feature of GitHub, we want to test it on our repo for some time and then decided.

[2021-01-15 13:52] ruflin commented on #252
@jonathan-buttner I think we can close this issue as we made quite a few decisions since August on this.

[2021-01-15 14:03] #252 closed

[2021-02-02 12:49] kuisathaverat commented on #592
I want to start to work on this, I understand that is only for the branch snapshot at the moment, so `Github action to automerge` cannot be used because it is enabled at the repository level so affects all branches. If the logic to merge is simple we can go with something in the pipeline directly. I'll make the following proposals:

* Automerge when the CI pass
* Automerge when the CI pass and the

[2021-02-03 07:23] ruflin commented on #592
I like the idea of the label + auto-merge. This prevents any random PR's to be merged and also AFAIK the community cannot add labels so nothing gets merged accidentally. @mtojek I assume adding the label `auto-merge` to the PR's by the script shouldn't be an issue? My vote is for option 3.

[2021-02-03 09:33] mtojek commented on #592
It would great to use the same logic for staging and prod too. I assume that when somebody promotes their changes between stages, they expect to merge them eventually.

I can give your more rules if you plan to cover also other stages:
* one concurrent merge operation the entire package-storage - keep in mind that promotion consists of a pair of actions, "promote" and "delete" PRs
* would be good

[2021-02-03 13:22] kuisathaverat commented on #592
If we use label we can use the auto merge from GitHub, we create a stage in the Jenkins Pipeline that creates a check if the label is there, then we add that check to the auto merge.

we can restrict the number of concurrent jobs to one

I am not familiar with that process, the "promote" PR looks like we can auto merge it. The "delete" PR can be marked as auto merge after the "promote" PR is merge

[2021-02-04 08:51] ruflin commented on #592
To keep the initial implementation simpler, perhaps we can do the auto merge only for the new and not the delete?

[2021-02-04 09:28] mtojek commented on #592
I don't agree with idea. "Promote" and "Delete" must go in a transaction, otherwise we'll end up with a mess in the storage. Some people will remember about the cleanup, other won't.

If this is about defining go/no-go rules for merging operation, for "Delete" action we should check if the package is available in the next stage using public the EPR endpoint.

[2021-02-05 15:37] kuisathaverat commented on #592
take a look at our tests with mergify https://github.com/elastic/apm-pipeline-library/pull/952/checks

[2021-02-16 13:23] mtojek commented on #348
@ruflin bumping up the thread, is it still valid :)?

[2021-02-16 13:26] ruflin commented on #348
Yes, this now depends a bit on the conclusions reached in https://github.com/elastic/elasticsearch/pull/64978 But this is a bit on hold at the moment because of other priorities. Lets keep it open.

[2021-02-16 22:35] EricDavisX opened #892 "Implement a visualization listing all versions of the packages showing the progression of through the storage phases"
I'd like to know what packages are on 'snapshot' storage but are not promoted to staging, and same for those that are on staging but not promoted to production.

A visualization or chat showing each version would help to know / track.  I don't know if this exists somewhere already?  Currently, I'd just query the 3 EPR links and see what shows for a given package, it is a bit messy.

https://epr-sn

[2021-02-16 22:40] EricDavisX commented on #892
@kuisathaverat @mtojek @ruflin @andresrc Just pinging for ideas, what do you think?  Is it something you would maybe be delighted to have or is it not warranted / needed?

[2021-02-17 07:01] andresrc commented on #892
it could be interesting, yes.

[2021-02-17 16:52] kuisathaverat opened #920 "[CI] show the Docker image info in the deploy job"
After the rollout of the Docker images we do not really be sure which version is deployed, so could be really nice to show the Docker image SHA and the labels of the Docker image and attach a file to the job with the info.

[2021-02-17 18:43] ycombinator commented on #892
++ to having an easy way to detect where packages are in the promotion pipeline.

Until then, here's a three-liner you can run to get effectively the same report, although not as neatly organized as the table.

[code]

[2021-02-18 12:20] ruflin commented on #892
++, would be nice if there would even be a page or something that is always up-to-date with the current state.

[2021-02-18 13:37] cachedout commented on #592
@mtojek Did you have a chance to review the Mergify checks that @kuisathaverat [suggested earlier](https://github.com/elastic/package-storage/issues/592#issuecomment-774108479)?

As he points out, we're using Mergify on a few other projects right now and have been quite satisfied. If you're all right with it, I'll put together a proposed configuration for your review.

[2021-02-18 14:39] kuisathaverat commented on #892
we are making a status page for our services and environments, something automated with PRs that ends in a static page with the info, maybe it fits https://github.com/elastic/observability-system-status/tree/master/themes/cstate.
I understand you need a place where to see package-registry/distribution deployed on each environment and the packages on each package-registry/distribution deployed, isn

[2021-02-18 14:43] cachedout commented on #592
There's been a fair amount of discussion on this thread covering a variety of use cases, but it seems as if we might be able to start with the a small amount of automation to cover the most common workflow and then expand from there.

Just as a starting point for discussion, what about something like this?

[code]

As you can see, there are two rulesets both of which are hopefully self-explanatory

[2021-02-18 14:56] ycombinator opened #925 "CI: Prevent _.* folders in packages"
Folders like `_dev` in packages are intended to exist only for development purposes. They should not exist in _built_ packages, i.e. the results of running `elastic-package build`. And the `package-storage` repo should only contain _built_ packages as it is the backend store for the package registries.

We should add steps in CI for each `package-storage` branch to check that no packages contain f

[2021-02-18 15:47] EricDavisX commented on #892
The docker command @ycombinator put above is extremely helpful, wow, thanks!  I would love to see that exact output as a start.  a highly desired 2nd phase would be to relate the timing of the given promotion stage's pr merge to the last timestamp the stage was rolled out... one way I envision this being realized would be an indicator (and * perhaps? or a color ) per cell in the table relating to

[2021-02-18 17:12] kuisathaverat commented on #892
quick win https://github.com/elastic/package-storage/pull/939

[2021-02-19 09:43] mtojek commented on #592
@cachedout

I'm not sure about the second case, did you have any particular pull request in mind?

Regarding the first rule,  please go for it, it would give us a real value as most of devs forget about the first step which is "parking" the integration in the package-storage. Later on we can iterate on the promote/remove PRs.

BTW I like the idea of a special label ("auto-merge", "mergify"). In ca

[2021-02-19 10:28] cachedout commented on #592
@mtojek Thanks for the reply. A few more brief questions.

1. Some of these PRs submitted by Elastic Machine are marked for review by certain teams. [First example](https://github.com/elastic/package-storage/pull/933) and [second example](https://github.com/elastic/package-storage/pull/938). Should they be automatically merged before reviews are completed?

2. Regarding labels, it looks like the w

[2021-02-25 00:06] ycombinator commented on #925
@elastic/observablt-robots Is this something you can help us implement?

[2021-02-25 09:46] v1v commented on #925
I'm not familiar with this project, can you please elaborate what's needed? 🙏
Thanks

[2021-02-26 01:28] ycombinator commented on #925
Sure, there are details in this repo's [README](https://github.com/elastic/package-storage/blob/master/README.md) but I'll try to summarize below, keeping in mind the context needed for this specific issue.

This repository (`package-storage`) is the backing persistence store for packages served by the Elastic Package Registry. For the purposes of this discussion, a package is a folder that contai

[2021-03-08 16:39] jen-huang opened #1011 "[APM] APM uses non-standard var types"
(Not sure where to file this bug as I didn't see APM package in integrations repo)

This came up from PR https://github.com/elastic/kibana/pull/93585#discussion_r589540742: it seems that APM is using var types that are not part of the package spec:
https://github.com/elastic/package-storage/blob/snapshot/packages/apm/0.1.0-dev.7/manifest.yml#L44-L136:
[code]

Package spec defines these types: http

[2021-03-08 16:42] EricDavisX commented on #1011
@simitt are you the best POC to tag for this?

[2021-03-08 16:43] skh commented on #1011
If we make this change in Kibana I think we should check all packages, and maybe add some package validation so that no new unsupported `type`s can be added.

[2021-03-08 17:49] jen-huang commented on #1011
Closing the loop re: validation (thanks @ycombinator!), there is validation for var types in `elastic-package`, all packages that are in [integrations](https://github.com/elastic/integrations) run through this validation, but APM doesn't since it's not stored there. Based on this @skh, I think it's safe to say that this is an issue with only the APM package.

@simitt Has [`elastic-package check`](

[2021-03-09 08:32] mtojek commented on #1011
@simitt Could you please elaborate more on deciding not to use the [elastic-package](https://github.com/elastic/elastic-package) for package development? I'm afraid that it may lead to further inconsistencies in the future. I wonder if it's because the tool is not feasible for your use case or there is a different reason.

[2021-03-09 08:42] simitt commented on #1011
@mtojek I defer to @jalvz as he was evaluating the best way forward for APM Server.

[2021-03-09 10:53] mtojek commented on #1011
The supported (and recommended) workflow starts in integrations (elastic-package runs as part of CI), then packages are synced with package-storage.

You're using package-registry directly which is not recommended by us for Integrations developers.

There is already a single source of truth - elastic-package tool and the package spec it embeds.

It's because of the fact that you shouldn't interact

[2021-03-09 19:47] ruflin commented on #1011
When the apm package started we had the discussion on where this package should be. Already then my opinion was that it should be part of integrations because of all the benefits you get with it. When the development of the apm package started the recommended way was already not to use package-registry directly and referred to https://github.com/elastic/integrations/blob/master/CONTRIBUTING.md doc

[2021-03-09 20:06] ycombinator opened #1013 "CI: enable package linting"
CI in all active branches of this repository, viz. `snapshot`, `staging`, and `production` should run `elastic-package lint` on all package versions within those branches.

Note: some very old versions of packages, likely in the `production` branch, may not pass `elastic-package lint`. This is because they were created before `elastic-package lint` was a thing. If so, we'll need to think of a good

[2021-03-09 20:06] ycombinator commented on #1011
Currently we do not but it's clear that we need to. I've filed an issue to implement it: https://github.com/elastic/package-storage/issues/1013.

[2021-03-09 20:16] ycombinator commented on #1011
Personally I think it's a good thing that the `apm` package is _not_ part of the `integrations` repo. Sometimes I worry that `elastic-package` is becoming too tightly coupled with the `integrations` repo so having an actual package that is not coming from that repo seems like a good thing to keep us honest. It is helping us prepare the `elastic-package` tool and even the `package-storage` repo tow

[2021-03-09 20:45] ycombinator opened #1014 "Discuss: Purpose of this repository"
Currently this repository (https://github.com/elastic/package-storage) serves two purposes:
- as a backing store for packages served by the Elastic Package Registry service, and
- as a development area for some packages, particularly the `snapshot` branch

I think it would be good to have a discussion if we want to keep this dual purpose for this repository or only have it be a backing store for t

[2021-03-10 01:02] axw commented on #1011
I agree that we should be using `elastic-package` linting, promotion, etc. We did talk within the APM Server team about doing that earlier, but it slipped from our minds. I've opened an issue to make sure we get this into our CI for 7.13.

As for which repo the package should be in: I still think having it in apm-server makes most sense, since we're maintaining both an integration package and old-

[2021-03-10 12:23] ruflin commented on #1011
Interesting points @ycombinator around having it in a separate repository. I agree it might even benefit us to make sure elastic-package can be used independent of `integrations` which must be the case. I think this is also a question around timing. In the beginning it would probably have been easier to have it in integrations for both teams as we made breaking changes and would have adjusted the

[2021-03-11 09:23] axw commented on #1011
Just a small clarification: I'm not suggesting we do that, I was just saying it would be a little less painful after we no longer have to maintain standalone as well as Fleet-managed apm-server. I think it would still be a pain to have the package and code in separate repos, since it would make it more difficult to develop and test changes that involve changing both.

Anyway, we agree on the key t

[2021-03-16 12:00] mtojek commented on #592
Yes, if the CI is happy, we can merge them. Teams are marked as reviewers for visibility.

SGTM!

[2021-03-17 13:48] jalvz commented on #1011
Fixed in https://github.com/elastic/package-storage/pull/1012

[2021-03-17 13:48] #1011 closed

[2021-03-26 16:59] ycombinator commented on #925
@v1v Let me know if my previous comment makes sense or if you have any questions. Thanks!

[2021-03-29 09:41] kuisathaverat commented on #920
https://github.com/elastic/package-storage/pull/939

[2021-03-29 09:41] #920 closed

[2021-03-31 14:10] v1v commented on #925
IIUC, you only want to run some pre-validation and report if there is a folder with the above format in the change-set. If that's the case, there is a shared library steps that can help with:

- https://github.com/elastic/apm-pipeline-library/blob/master/vars/isGitRegionMatch.txt

Snippet:

[code]

The above step uses the git diff from the existing commit versus the target branch. If the above is

[2021-03-31 14:17] ycombinator commented on #925
@v1v I think the code snippet you posted should suffice. Thanks!

[2021-04-01 12:05] cachedout commented on #592
I've tried to enable the Mergify integration [using these instructions](https://docs.mergify.io/getting-started/) but every time I try to add the this repo, the change seems to have no effect.

@elastic/observablt-robots when adding the other repos, did you have to do anything special?

[2021-04-01 13:37] v1v commented on #592
There are two steps:
- Create the `mergify.yml` file
- Raise an issue in the infra repo and poke the infra/hosting team to ask them to enable the mergify app for this repo.

Once it's enabled and the mergify PR is merged then things should be working as expected.

[2021-04-06 11:18] ycombinator commented on #925
PRs to resolve this issue:
- For `snapshot` branch: https://github.com/elastic/package-storage/pull/1090
- For `staging` branch: https://github.com/elastic/package-storage/pull/1093
- For `production` branch: TODO

[2021-04-13 11:14] cachedout commented on #592
We have enabled Mergify on the repo and I worked with @mtojek today to successfully test and verify the implementation. We[ submitted a PR ](https://github.com/elastic/package-storage/pull/1162)and Mergify ran the requisite checks and merged it as intended.

As a side-note, enabling the Mergify integration on this repo also merged some _existing_ PRs, which was somewhat unexpected. We have [starte

[2021-04-13 11:14] #592 closed

[2021-04-19 08:19] mtojek commented on #925
@ycombinator Is there something else to be done or can this be resolved?

[2021-04-19 15:24] ycombinator commented on #925
@mtojek Thanks for the ping. This can be resolved now. Closing.

[2021-04-19 15:24] #925 closed

[2021-04-23 20:04] P1llus opened #1203 "ES version for CI needs to be updated"
There are some new packages coming in that requires the ES 7.13 release, mostly for its `registered_domain` processors which is new, but also the `community_id` processor which was introduced after the currently used 7.11 version.

Would it be okay to update this or is there a reason to use an older version?

[2021-04-23 20:12] P1llus commented on #1203
Any thoughts around this one @ycombinator ?

[2021-04-23 20:34] ycombinator commented on #1203
Yeah, please do it. Looks like it's still set to `7.11.0-SNAPSHOT` which is rather old at this point. I don't see any reason we shouldn't update it to `7.13.0-SNAPSHOT` now.

While you're at it, would you mind also making the same updates for the `staging` and `production` branches of this repository?

@mtojek @ruflin just a heads up in case you have any concerns.

[2021-04-23 20:46] ycombinator commented on #1203
PRs to update various branches:
- `snapshot`: https://github.com/elastic/package-storage/pull/1205
- `staging`:
- `production`:

[2021-04-27 08:40] #1203 closed

[2021-05-11 08:14] mtojek opened #1254 "Automatic deployment of snapshot/staging/production"
We received a couple of feature requests for this, so let me remind historical reasons behind postponing the decision:
- we don't have any alarms that deployment fails or registry died
- we don't have any mechanism to coordinate deployments (prevent rollout for all stages at once)
- we had an idea to cover this technical debt while we switch to the new registry (no capacity)
- there is only Shauna

[2021-05-11 08:22] mtojek opened #1255 "Automatic merges of promote/delete PRs"
Blocker: https://github.com/elastic/package-storage/issues/1254

The goal is to enable automatic promotion/deletion of packages between different storage stages. FYI it's not straightforward due to following reasons:
- "delete PR" should be merged if the new Docker image for "promote" is build by CI
- no concurrent merges across the repository
- if the CI job for "promote PR" fails, we can't proce

[2021-05-26 19:41] fearful-symmetry commented on #1254
I wonder, if we don't have time to improve the tooling, we can at least make the deployment process a little more intuitive? I just have a link on slack to the Jenkins pipeline that someone sent me. Even adding a message or link to the tooling, PR, or something might help a little bit.

[2021-06-07 07:13] mtojek commented on #1254
@fearful-symmetry Would you mind sharing the preferred way here? I can try to introduce few changes, but as you mentioned, it's matter of time.

[2021-06-07 15:39] fearful-symmetry commented on #1254
So @mtojek, the two ideas I have would be be to either add/generate a link as part of `elastic-package promote`, or to add a link to the description of the PR itself. Perhaps we could use the promotion selection (i.e `staging -> prod` and so on) to generate the correct link?

[2021-06-08 07:17] mtojek commented on #1254
Just to confirm: are you thinking about these links
https://beats-ci.elastic.co/job/Ingest-manager/job/package-storage/job/production/
https://beats-ci.elastic.co/job/Ingest-manager/job/package-storage/job/staging/
https://beats-ci.elastic.co/job/Ingest-manager/job/package-storage/job/snapshot/

or in general the Relese Distribution pipeline
https://beats-ci.elastic.co/job/Ingest-manager/job/relea

[2021-06-08 14:53] fearful-symmetry commented on #1254
So, this is the one I've been using:  https://beats-ci.elastic.co/job/Ingest-manager/job/release-distribution/build

No idea if that's the "right" one though.

[2021-08-02 09:05] charliek17 opened #1744 "(AirGap) HealthCheck: curl 7 Failed to connect. Connection refused"
Hello,

Seem to be able to run the docker image but then hangs at 437 package manifests loaded. The response when curling seems to be a refusal.

- Firewall open
- local to Kibana

I tried exposing 8080 but that didn't seem to work.

[2021-08-02 09:41] charliek17 commented on #1744
I have made the fix on the docker run command.
`docker run --publish 8080:8080 -it docker.elastic.co/package-registry/distribution:production`

[2021-08-02 09:41] #1744 closed

[2021-09-16 11:53] mtojek commented on #348
I guess that we don't need it now, so can we close the issue? @ruflin

[2021-09-20 14:24] ruflin commented on #348
😆  I'm closing this issue but actually would argue we still need something similar again in the future. But we can open a new issue when we get there.

[2021-09-20 14:24] #348 closed

[2021-11-15 13:34] jlind23 opened #2773 "Package Storage v2 - Define limits for a package #648"
Define limits for a package in terms of:

Package size
..

[2021-11-15 13:35] jlind23 opened #2774 "Package Storage v2 - Create object storage to store .zip files."
The goal of this issue is to create an object storage for future .zip files. We need to decide where to put it, what would be the permissions model and who will maintain it (us vs. infra).

[2021-11-15 13:36] jlind23 opened #2775 "Package Storage v2 - Enable validation for incoming packages"

[2021-11-15 13:38] jlind23 opened #2776 "Package Storage v2: repack existing packages as .zip archives."
From @mtojek

We have to import existing packages to Package Storage. Here are the requirements I identified:
1. We need to keep the migration up until we switch to the new storage = archive the only one.
2. We shouldn’t block ongoing package development.
3. We need to implement the CI logic to check if the package has been already published. Otherwise, we’ll end up with an avalanche of queued pub

[2021-11-15 13:39] jlind23 opened #2777 "Package Storage v2: prepare a campaign and help users migrate to .zip files."

[2021-11-15 13:39] jlind23 opened #2778 "Package Storage v2: prepare a campaign and help users migrate to .zip files."

[2021-11-15 13:42] #2777 closed

[2021-11-15 15:12] mtojek commented on #2774
I updated the issue description.

My first thought is an S3 bucket behind Cloudfront or a matching selection from Google Cloud.

Hey @elastic/observablt-robots, do you have any recommendations here? Long story short, we'd like to build a similar place to Artifactory to store packages.

_Feel free to link (convert to) an internal issue if necessary._

[2021-11-15 17:15] cachedout commented on #2774
I take it from your mention of Cloudfront that you're expecting a considerable amount of traffic to this endpoint? I think we should clarify the requirements here a bit in terms of exactly what this will be used for, what the security profile needs to be, and what kind of traffic we're expecting and then bring in @elastic/infra-hosting to help us work through options.

[2021-11-16 08:33] mtojek commented on #2774
Hey @cachedout, your questions are absolutely correct. I will come up with a short design doc providing basic requirements for storage. I don't think we have already defined it to build v1 (based on the Github repository).

[2021-11-17 15:15] mtojek commented on #2774
@cachedout @jsoriano @jlind23 The document is ready for the first review. Let me know what you think.

[2021-11-18 12:40] jlind23 opened #2813 "Elastic Package signature - Key management and update"
### Discussed in https://github.com/elastic/package-storage/discussions/2783

<div type='discussions-op-text'>

<sup>Originally posted by **jlind23** November 16, 2021</sup>
We have the idea of signing packages in order to have a proof that a package is truly coming from Elastic developers.
The question here is - What if the keys used to sign packages have to be changed? (Updating for security pur

[2021-11-19 12:52] mtojek commented on #120
I think we can close it now, as we're planning to move away from the Package Storage v1 so Github repository.

[2021-11-19 12:52] #120 closed

[2021-11-19 12:55] mtojek commented on #892
Considering our roadmap for Package Storage v2, we can go with a quick win and implement something more accurate later.

[2021-11-19 12:58] mtojek commented on #24
We gained some experience with packages delivery and don't see the need of removing packages from storage. Also, Kibana recommends installing the newest supported version and doesn't list old ones.

I will resolve this issue.

[2021-11-19 12:58] #24 closed

[2021-11-19 13:00] mtojek commented on #1014
I think we agree internally only for this:

Any package development will be forbidden in the Package Storage v2.

[2021-11-19 13:01] #1014 closed

[2021-11-19 13:01] #892 closed

[2021-11-22 18:09] cachedout commented on #2774
@mtojek I have completed my review. Thanks for answering my questions so promptly! It all seems very reasonable. I added some comments about next-steps from the hosting/automation side of things and also added a few questions to the `Open Questions` section at the bottom of the document.

[2021-11-23 08:43] mtojek commented on #2774
Thank you for reviewing it, Mike! I will take a look at your questions in a moment.

[2022-02-16 13:59] mtojek commented on #2774
It looks like we can close this issue. I'm working on final polishing in other task.

[2022-02-16 13:59] #2774 closed

[2022-02-16 16:23] mtojek commented on #2776
@jsoriano It looks like a CI-crafting task, so one of our "favorites" :) Do you have any preference regarding the model? I would vote for the push model as it's the closest to the future form - pushing from Integrations to Storage v2.

[2022-02-17 11:19] jsoriano commented on #2776
@mtojek push model SGTM, no need to worry a lot about this not being optimal for the initial import as ideally we only need to do this once.

Would this also cover packages that are not in the integration repository?

I would like to have a clear separation between pushing code to a repo where the code of the package lives, and the publication of a version of this package, so each package develope

[2022-02-17 12:59] mtojek commented on #2776
👍

Yes, as this code will be executed as part of the Package Storage job.

That's the end goal, we can/will prepare Jenkins groovy helper functions to reach out to the new storage. I'd like to configure the full CD for the Integrations repository and just give guidance for the rest.

---

Looks like we agree, so the "push model" wins.

[2022-02-17 14:18] jsoriano commented on #2776
But it is still the idea to remove the Package Storage at some moment, right?

[2022-02-17 14:36] mtojek commented on #2776
Yes :D in Github terminology: archive it (no more PRs welcome).

[2022-03-07 17:14] mtojek commented on #2776
All production packages have been pushed to the new storage v2.

There will be a CI task to syncing updating v2 with v1, until we fully switch to the new place ([PR](https://github.com/elastic/package-storage/pull/3672)).

Once we merge this PR, we can close this issue.

[2022-03-09 15:58] #2776 closed

[2022-03-17 10:59] #2778 closed

[2022-08-17 15:39] terrancedejesus opened #5341 "Security Detection Engine Package Promotion Error: "Author Required""
## Description
TRADE is currently attempting to promote a package (`security_detection_engine` - 7.16.4) from snapshot to staging with the elastic package tool as such.

`elastic-package promote -v` -> snapshot-to-staging -> select `security_detection_engine-7.16.4`.

The following error is being produced:
[code]

We are not entirely sure what the error may originating from based on this failure m

[2022-08-17 16:26] terrancedejesus commented on #5341
After tracing this down to where the error originates from, that being GitHub in this instance, I then re-installed Git locally, setup my credentials globally, created a new PAT token and then re-tried. The "author field is required" error was gone but then the following error was produced.

[code]

Re-visiting the PAT token I had, I enabled the following, not exactly sure which one did the trick.

[2022-08-17 16:26] #5341 closed